*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Common Style*/
.size{
    width: 90%;
    margin: 0% auto;
}

/*Navber-Section*/
.navber-area{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .head-image{
        width: 200px;
        height: 38.64px;
    }

    & ul li{
        display: inline-block;
        list-style: none;
        padding: 0px 20px;
        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        font-weight: 26.63px;
        cursor: pointer;

    }
    & ul li a{
        text-decoration: none;
        color: #000000
        ;
        
    }
    & .head-login{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
    }

    .logn-button{
        width: 114px;
        height: 49px;
        padding: 11px 28px;
        border-radius: 30px;
        bacground-color: #F1F1F1;
        border: none;
        font-size: 20px;
        font-weight: 500px;
        cursor: pointer;
    }

    .starte-button{
        background-color: #000000;
        width: 305px;
        height: 49px;
        border-radius: 30px;
        color: white;
        font-size: 20px;
        font-weight: 500px;
        cursor: pointer;
    }
}


/*Banner Section style*/
 .banner-section{
    margin-top: 30px;
    position: relative;


    & .banner-image{
        object-fit: cover;
        width: 100%;
        height: 760px;
        position: absolute;
    }

    & .find-offer-section{
        top: 230px;
        left: 20%;
        position: absolute;
        overflow: auto;
        width: 1160px;
        height: 344px;
        border-radius: 8px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
       

        .find-divs select{
            border: none;
            border-radius: 5px;
            width: 223px;
            height: 50px;
            background-color: #ECECEC;
            padding-left: 9px;
            font-size: 18px;
        }
        .find-button-area{
            margin: 12px 0px;
        }
         
    .how-much-button{
        border: none;
        border-radius: 5px;
        font-size: 18px;
        width: 702px;
        height: 50px;
        background-color: #ECECEC;
        cursor: pointer;  
    }
    .find-offer-button{
        width: 200px;
        height: 50px;
        background-color: #ECECEC;
        border: none;
        background-color: #00EBC7;
        border-radius: 30px;
        font-size: 22px;
        font-weight: 400;
        cursor: pointer;
    }
    }
 }


/* Fealures Section */

.favorites-section{

    margin: 30px 0px;
    text-align: center;
    width: 100%;
    height: 370px;
    background-color: #FDE24F;

& h3{
    padding: 70px 0px;
    font-size: 30px;
}
   & img{
    width: 1220px;
    height: 120px;
   }

   .find-offer-section{
        position: relative;
        width: 1160px;
        height: 344px;
        border-radius: 8px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .find-offer-section h1{
        margin: 10px 0px;
        text-align: center;
        font-size: 35px;
    }

    .find-divs select{
        border: none;
        border-radius: 5px;
        width: 223px;
        height: 50px;
        background-color: #ECECEC;
        padding-left: 9px;
        font-size: 18px;
    }
    .find-button-area{
        margin: 12px 0px;
    }
    .how-much-button{
        border: none;
        border-radius: 5px;
        font-size: 18px;
        width: 702px;
        height: 50px;
        background-color: #ECECEC;
        cursor: pointer;     
    }
    .find-offer-button{
        width: 200px;
        height: 50px;
        background-color: #ECECEC;
        border: none;
        background-color: #00EBC7;
        border-radius: 30px;
        font-size: 22px;
        font-weight: 400;
        cursor: pointer;
    }  
}



/* Features-section */
.features-section{
    .reatures-title{

    }
    & .all-divs{
        display: grid;
        grid-column: 50px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;

        .reatures-div{
            text-align: center;
            padding: 10px 0px;
        }
    } 
    & .see-button{
        display: block;
        margin: auto;
        border: 1px solid black;
        padding: 15px 40px;
        border-radius: 35px;
        font-size: 20px;
        font-weight: 500;
        background-color: #fff;
        margin-bottom: 50px;
    }  
}


/* Buy/ Sell Section Style*/

.by-sell-section{
    padding: 100px 0px;
    margin-top: 100px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    

    & .by-sell-main-area{
        display: flex;
        gap: 80px;
    }

    & .by-area, .sell-area{
        width: 50%;
        display: grid;
        grid-template-row: repeat(2, 1fr);
        
      
        .div1, .div2, .div3{
            margin: 13px 0px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            border: 1px solid gray;
            border-radius: 15px;
            justify-content: center;
            align-items: center;
        }

        & .sell-area{
            width: 50%;

        }

        & .sell-button{
            display: block;
            margin: auto;
            padding: 9px 0px;
            width: 200px;
            background-color: #000000;
            color: white;
            font-size: 20px;
            border-radius: 20px;
        }       
    }  
}



/*Sign up Section Style*/
.sign-up-section{
    background-color: #CFBAFF;
    width: 100%;
    height: 600px;
 
    
   


    & h1{
       font-size: 75px;
       font-weight: 500px;
       font-weight: 182px;
       text-align: center;
       padding-top: 182px;   
       padding-bottom: 70px;  
    }

    & button{
        display: block;
        margin: auto;
        width: 265px;
        height: 69px;
        border-radius: 30px;
        background-color: #000000;
        color: #fff;
        font-weight: 500;
        font-size: 25px;
    }
}


/*Footer-menu-section Style*/
.footer-menu-section{
    background-color: #000000;
    width: 100%;
    height: 500px;
    
    


   

    & .footer-menu{
        padding-top: 180px;
        color: #fff;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-size: 20px;
        margin: 0px 400px;
    }
}


/* Footer-section Style*/
.footer-section{
    background-color: #000000;
    width: 100%;
    height: 110px;
    color: #fff;
    

    & p{
        padding-top: 20px;
        font-size: 18px;
        text-align: center;
    
    }
}




/*Media Quary Style*/

@media screen and (max-width: 676px) {

    .navber-area{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-content: center;

        & .head-image{
            display: block;
            margin-left: 110px;
            text-align: center;
        }
    }
    
    /*Navber Style End*/
    
    
}